**/zz_generated.*.go binary linguist-generated=true
install/helm/*-crds/templates/*.yaml binary linguist-generated=true
install/helm/**/role.yaml binary linguist-generated=true
pkg/agentgateway/jwks/mocks/mock_jwks_http_client.go binary linguist-generated=true
pkg/client/** binary linguist-generated=true
pkg/generated/** binary linguist-generated=true
pkg/kgateway/query/mocks/mock_queries.go binary linguist-generated=true
pkg/utils/filter_types/filter_types.gen.go binary linguist-generated=true
