**/zz_generated.*.go -merge linguist-generated=true
install/helm/*-crds/templates/*.yaml -merge linguist-generated=true
install/helm/**/role.yaml -merge linguist-generated=true
pkg/agentgateway/jwks/mocks/mock_jwks_http_client.go -merge linguist-generated=true
pkg/client/** -merge linguist-generated=true
pkg/generated/** -merge linguist-generated=true
pkg/kgateway/query/mocks/mock_queries.go -merge linguist-generated=true
pkg/utils/filter_types/filter_types.gen.go -merge linguist-generated=true
