{{- $gateway := .Values.gateway }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kgateway.gateway.fullname" . }}
  {{- with $gateway.gatewayAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    {{- include "kgateway.gateway.allLabels" . | nindent 4 }}
automountServiceAccountToken: false
